/**
 * @file
 * tour_block_widget.css.
 */

form.block-form table tbody tr td {
  display: block;
}

form.block-form table tbody tr.draggable td div label,
form.block-form table tbody tr.draggable td div input {
  margin-left: 40px;
}
