/**
 * @file
 * tour_block.css.
 */

/* Bar */
table.tour-bar tr td.previous-cell {
  width: 50%;
  text-align: left;
}

table.tour-bar tr td.status-cell {
  text-align: center;
}

table.tour-bar tr td.next-cell {
  width: 50%;
  text-align: right;
}

/* Square */
table.tour-square tr td.next-cell {
  XXXXwidth: 50%;
  text-align: center;
  align: center;
}

table.tour-square tr td.icon-cell,
table.tour-square tr td.link-cell,
table.tour-square tr td.status-cell {
  text-align: center;
  align: center;
}

table.tour-square div.previous-nav-arrow,
table.tour-bar div.previous-nav-arrow {
width: 24px;
height: 24px;
background-image: url("../images/left-arrow.svg");
XXborder: solid 1px green;
}

table.tour-square div.next-nav-arrow,
table.tour-bar div.next-nav-arrow {
  width: 24px;
  height: 24px;
  background-image: url("../images/right-arrow.svg");
}

table.tour-square .previous-stop.arrow {
  float: right;
}

.tour-hidden {
  display: none;
}

/* CTA */
div.tour_block .cta {
  background-color: #f6f6f2;
}

div.tour_block .cta a.btn {
  margin-bottom: 20px;
}

/* CTA2 */
div.tour_block .cta-2 {
  background-color: #f6f6f2;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

div.tour_block .cta-2 h3.tour-title,
div.tour_block .cta-2 p.tour-description  {
  margin-left: 15px;
  margin-right: 15px;
}

div.tour_block .cta-2 p.tour-description  {
  margin-bottom: 15px;
}

div.tour_block .cta-2 .btn-inner,
div.tour_block .cta-2 a.btn {
  margin: 0;
  padding-left: 0px;
  padding-right: 0px;
  height: 36px;
  width: 100%;
  border-radius: 0px;
}

/* Hero Unit */
div.tour_block .hero-unit {
  padding: 60px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

div.tour_block .hero-unit h1 {
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
}

/* Card */
div.tour_block.card {
  padding: 15px;
}

div.tour_block.card .tour-title {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.2;
}

div.tour_block.card .tour-description {
  font-size: 1.50rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}
