/**
 * @file
 * tour_block_no_bootstrap.css.
 */

div.tour_block {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
font-weight: 500;
  line-height: 1.2;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

/* Bar / Block */
div.tour_block.bar td.previous-cell,
div.tour_block.bar td.next-cell,
div.tour_block.square td.icon-cell {
  padding: 10px;
}

div.tour_block.bar tr,
div.tour_block.bar td,
div.tour_block.bar th,
div.tour_block.square tr,
div.tour_block.square td,
div.tour_block.square th
{
  border: 0;
}

/* Panel */
div.tour_block.panel {
 border: none;
}

div.tour_block div.panel {
 margin: 0;
 padding: 0;
 border: none;
 background: none;

 /*margin-bottom: 20px; */
 background-color: white;
 border: 1px solid transparent;
 border: 1px solid #DDDDDD;
 border-radius: 5px;

}

div.tour_block div.panel-heading {
  padding-left: 24px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #DDDDDD;;
  border-top-radius: 4px;
  background-color: #EEEEEE;
  font-size: 1.5rem;
  font-weight: 550;
}

div.tour_block div.panel-body {
  padding: 20px;

}

div.tour_block div.panel p.tour-description {
  font-size: 1.50rem;
  font-weight: 400;
}

div.tour_block div.panel-body a.btn {
  font-size: 1.25rem;
}

/* Card */
div.tour_block div.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding: 15px;
}

div.tour_block div.card div.card-body .card-title.tour-title {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
}

div.tour_block div.card div.card-body .card-text.tour-description {
  font-size: 1.00rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

div.tour_block div.card div.card-body .btn {
  font-size: 1.6em;
}

/* Jumbotron */
div.tour_block.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}

@media (min-width: 576px) {
  div.tour_block.jumbotron {
    padding: 4rem 2rem;
  }
}

/* Jumbotron Fluid */
div.tour_block.jumbotron-fluid {
  padding-right: 0;
  padding-left: 0;
  border-radius: 0;
}

.jumbotron.jumbotron-fluid div.container {
  padding-left: 10%;
  padding-right: 10%;
}

/* Button */
.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.btn:hover {
  color: #212529;
  text-decoration: none;
}

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn.disabled, .btn:disabled {
  opacity: 0.65;
}

a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-lg, .btn-group-lg > .btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

/* Cta */
div.tour_block .cta h3.tour-title{
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1.50rem;
  font-weight: 500;
}

div.tour_block .cta p.tour-description {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1.25rem;
  font-weight: 400;
}

div.tour_block .cta .btn {
  margin-left: 15px;
  font-size: 1.25rem;
  line-height: 2.00rem;
  padding-bottom: 0px;
}

/* Cta 2 */
div.tour_block .cta-2 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

div.tour_block .cta-2 h3.tour-title {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1.50rem;
  font-weight: 500;
}

div.tour_block .cta-2 p.tour-description {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1.25rem;
  font-weight: 400;
}

div.tour_block .cta-2 .btn {
  /* padding-top: 15px; */
  font-size: 1.25rem;
  padding-bottom: 0px;
}

div.tour_block .cta-2 .btn-inner,
div.tour_block .cta-2 a.btn {
  margin: 0;
  padding-left: 0px;
  padding-right: 0px;
  height: 36px;
  width: 100%;
  border-radius: 0px;
}

