{#
/**
* @file
* Default theme implementation to display a tour block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
class="tour_block, {{_context.children['tour_block']['field_tour_style']}}">
#}
<div id="{{_context.children['tour_block']['field_tour_name']}}"
     field_tour_name="{{_context.children['tour_block']['field_tour_name']}}"
     field_prerequisites="{{_context.children['tour_block']['field_prerequisites']}}"
     field_hide_tour_when_completed="{{_context.children['tour_block']['field_hide_tour_when_completed']}}"
     field_keyboard_arrow_keys="{{_context.children['tour_block']['field_keyboard_arrow_keys']}}"
     tour_block_id="{{_context.children['tour_block']['tour_block_id']}}"
     class="tour_block {{_context.children['tour_block']['field_tour_style']}}">

  {% if _context.children['tour_block']['field_tour_style'] == 'bar' %}

    <table style="width:100%" class="tour-bar" border="0">
      <tr>
        <td class="previous-cell">

          {% if _context.children['tour_block']['field_show_icons'] == true %}
          <div><a class="previous-stop icon" href="#"><img src="{{_context.children['tour_block']['field_previous_icon']}}"></a></div>
          {% endif %}

					{% if _context.children['tour_block']['field_show_navigation_arrows'] == true %}
          <div><a class="previous-stop arrow" href="#"><div class="previous-nav-arrow"></div></a></div>
					{% endif %}

					{% if _context.children['tour_block']['field_show_link_text'] == true %}
          <div><a class="previous-stop link-text" href="#"></a></div>
					{% endif %}

        </td>

        {% if _context.children['tour_block']['field_show_status'] == true %}
          <td class="status-cell"></td>
        {% endif %}


        <td class="next-cell">

          {% if _context.children['tour_block']['field_show_icons'] == true %}
          <div class="next-nav-icon-wrapper"><a class="next-stop icon" href="#"><img src="{{_context.children['tour_block']['field_next_icon']}}"></a></div>
          {% endif %}

					{% if _context.children['tour_block']['field_show_navigation_arrows'] == true %}
          <div style="float: right; width: 24px; height: 24px;" class="next-nav-arrow-wrapper"><a class="next-stop arrow" href="#"><div class="next-nav-arrow"></div></a></div>
					{% endif %}

					{% if _context.children['tour_block']['field_show_link_text'] == true %}
					<br />
          <div  style="float: right; width: 125px;" class="next-nav-link-text-wrapper"><a class="next-stop link-text" href="#"></a></div>
					{% endif %}

        </td>

      </tr>
    </table>

  {% elseif _context.children['tour_block']['field_tour_style'] == 'square' %}

		<table style="width:100%" class="tour-square" border="0">
			{% if _context.children['tour_block']['field_show_icons'] == true %}
				<tr>
					<td class="icon-cell" colspan="2">
					<div class="next-nav-icon-wrapper"><a  class="next-stop icon" href="#"><img src="{{_context.children['tour_block']['field_next_icon']}}"></a></div>
					</td>
				</tr>
			{% endif %}

			{% if _context.children['tour_block']['field_show_navigation_arrows'] == true %}
				<tr>
					<td class="previous-cell"><a class="previous-stop arrow" href="#"><div class="previous-nav-arrow"></div></a></td>
					<td class="next-cell">    <a class="next-stop arrow" href="#"><div class="next-nav-arrow"></div></a></td>
				</tr>
			{% endif %}

			{% if _context.children['tour_block']['field_show_link_text'] == true %}
				<tr>
					<td class="link-cell" colspan="2"><a class="next-stop link-text" href="#"></a></td>
				</tr>
			{% endif %}



			{% if _context.children['tour_block']['field_show_status'] == true %}
				<tr>
					<td class="status-cell" colspan="2"></td>
				</tr>
			{% endif %}
		</table>

	 {% elseif _context.children['tour_block']['field_tour_style'] == 'cta' %}

    <div class="cta col-md-3">
      <div class="img-top"></div>
       <h3 class="tour-title"></h3>
       <p class="tour-description"></p>
       <a href="#" class="btn btn-primary next-stop link-text"></a>
      </div>
      <div class="img-bottom"></div>
    </div>

	 {% elseif _context.children['tour_block']['field_tour_style'] == 'cta-2' %}

    <div class="cta-2 col-md-3">
      <div class="img-top"></div>
      <div class="cta-inner">
        <h3 class="tour-title"></h3>
        <p class="tour-description"></p>
      </div>
      <div class="btn-inner">
         <a href="#" class="btn btn-primary next-stop link-text"></a>
      </div>
      <div class="img-bottom"></div>
    </div>

	 {% elseif _context.children['tour_block']['field_tour_style'] == 'panel' %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title tour-title"></h3>
      </div>
      <div class="panel-body">
        <div class="img-top"></div>
        <p class="tour-description"></p>
        <p><a href="#" class="btn btn-primary next-stop link-text">Go somewhere</a></p>
        <div class="img-bottom"></div>
      </div>
    </div>
	 {% elseif _context.children['tour_block']['field_tour_style'] == 'card' %}

    <div class="card" style="width: 18rem;">
      <div class="card-img-top img-top"></div>
      <div class="card-body">
        <h5 class="card-title tour-title"></h5>
        <p class="card-text tour-description"></p>
        <a href="#" class="btn btn-primary next-stop link-text"></a>
      </div>
      <div class="img-bottom"></div>
    </div>

	 {% elseif _context.children['tour_block']['field_tour_style'] == 'hero' %}

	  <div class="hero-unit">
	    <div class="img-top"></div>
      <h1 class="tour-title"></h1>
      <p class="tour-description"></p>
      <p>
        <a class="btn btn-primary btn-large next-stop link-text">
          Learn more
        </a>
      </p>
      <div class="img-bottom"></div>
    </div>

	 {% elseif _context.children['tour_block']['field_tour_style'] == 'jumbotron' %}

	  <div class="jumbotron">
	    <div class="img-top"></div>
      <h1 class="display-4 tour-title"></h1>
      <p class="lead tour-description"></p>
      <p class="lead">
        <a class="btn btn-primary btn-lg next-stop link-text" href="#" role="button"></a>
      </p>
      <div class="img-bottom"></div>
    </div>

	 {% elseif _context.children['tour_block']['field_tour_style'] == 'jumbotron-fluid' %}

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <div class="img-top"></div>
        <h1 class="display-4 tour-title"></h1>
        <p class="lead tour-description"></p>
        <p> <a class="btn btn-primary btn-lg next-stop link-text" href="#" role="button"></a> </p>
        <div class="img-bottom"></div>
      </div>
    </div>

   {% endif %}

</div>
